<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>These are your filled out informations:</h1>

    <p>Name: <%= user.name %></p><br>
    <p>Favorite Language: <%= user.language %></p><br>
    <p>Dojo Location: <%= user.location %> </p><br>
    <p>Comment: <%= user.comment %></p>

</body>
</html>